$defaultDuration: 0.2s;
$shortDuration: 0.1s;
$longDuration: 0.4s;
$veryLongDuration: 10s;

$defaultFunction: linear;

@mixin transition($properties) {
  -webkit-transition: $properties;
  -o-transition: $properties;
  -moz-transition: $properties;
  transition: $properties;
}
